.resizable {
    height: auto;
    width: 300px;
    padding-top: 70px;
}

.resizable1 {
    height: 200px;
    width: 250px;
    padding-top: 20px;
    float: left;
    margin-left: 95px;
}

h3 {
    color: #ff9900;
}
