

.thumbnail{
    text-align: center;
    background-color:  #cccccc;
    height: auto;
    width: 100%;
    background-size: 100% 100%;

}

a.thumbnail:hover{
  transition: 1s;
  background-color: #bbbbbb;
}

a.special{
  background-color: #ffffff;
  text-decoration-color: #000000;
}

a.special:hover{
  transition: 1s;
  background-color: #eeeeee ;
}

#head {
    background: url('../content/monti.jpg');
    background-repeat: no-repeat ;
    background-size:100% 100%;
}



img.thumb{
   opacity:0.75;
   height: 200px;
 }

 a:hover > img.thumb  {
   transition: 1s;
   opacity: 1;
 }


h2.titolo{
    font-weight: bold;
}

h3.sottotitolo{
    font-weight: bold;
    color: #ff6d00;
    text-decoration-color: #ff6d00;
}

.descrizionebreve > a:hover{
  color: black;
  text-decoration:none;
}


.descrizionebreve {
  color: black;
  text-decoration:none;
}




/* Dropdown Button */
.dropbtn {
    background-color: #ffffff;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-menu ul {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-menu a:hover {background-color: #eeeeee}





@media screen and (min-width: 768px) and (max-width: 2048px) {

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {
    display: block;
}

.bianco-md{
  color: white;
}






}
