@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,700,700italic);

body {
   font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: 300; color: #555; margin: 0; padding: 0;padding-top: 20px; /*Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.cliccabile{
  color: white;
}

.cliccabile:hover {
    text-decoration: underline;
}


.navbar {
    margin-bottom: 0px;
    background-color: rgb(4,34,71);
}

.footer { border-top-style: solid;
}


h1 .gallery{
    font-weight: bolder;
}

#gallery{
    background-image: url("img./gallery-fiori.jpg");
    text-align: center;
}


#intro {
   padding:0px 0 25px 0;
}
.bianco { color: #FFF; }

h2grigrio {
	color:#FFF;
}

.arancione{
    background-color: #ff6d00;
    color: #FFF;
}


@media screen and (min-width: 0px) and (max-width: 767px) {
  #logos { display: none; }  /* show it on small screens */

  .bianco-md{
    color: white;
  }

  .bianco-md:hover{
    text-decoration: underline;
  }
}

@media screen and (min-width: 768px) and (max-width: 2048px) {
  #logos { display: block; }   /* hide it elsewhere */
}
.row-padded {
  padding: 35px;
  background-color: #F7F7F7;
  border: 1px solid #DDD;
}

.row-padded .span4 {
  background-color: #bbb;
  width: 30%;
}

.grigio {
    opacity: 0.8;
    background-color: #AAA;
   margin: 3px;
   padding: 3px ;
}

.grigio2 {
    background-color: rgba(0, 0, 0, 0.145);
    }


.grigio p {
   color: #FFF;
   margin-top: 5px;
}


.faunaimg {
   height: 200px;
   width: 300px;
}

.rettangoli {
   height: 500px;
}

.topbuffer{
	padding-top:20px;
}
.bottombuffer{
	padding-bottom:20px;
}
.rightbuffer{
	padding-right:20px;
}
.rightminibuffer{
	padding-right:5px;
}
.nomeflora{
   color: rgb(230,145,56);
  text-align: center;
}
/*
.thumbnail {
   background-color: rgb(238,238,238);
   padding-bottom: 25px;
}
*/

.imganimale {
   height: 200px;
   width: 300px;
   padding-top: 20px;
}

.titoloarancio {
   color: rgb(230,145,56);
}

.mappa {
   width: 400px;
   height: auto;
}
